*{
    margin: 0;
    padding: 0;
    font-family: Century Gothic;
}
body{
	background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(wind-turbine-15.jpg);
	height: 100vh;
    background-size: cover;
    background-position: center;
}
ul{
	float:right;
	list-style-type:none;
	margin-top:30px;
	margin-right:13px;
}
ul li{
	display:inline-block;
}
ul li a{
	text-decoration:none;
	color:#ffffff;
	padding:20px 80px;
	border:1px solid transparent;
	transition:0.5s ease;
}
ul li a:hover{
	background-color:#ffffff;
	color:#000000;
}
ul li.active a{
	background-color:#ffffff;
	color:#000000;
}

.logo img{
	float:left;
	width:80px;
	height:60px;
	margin-top:8px;
	margin-left:13px;
}
.main{
	max-width; 1200px;
	margin:auto;
}
h3{
	margin-left:100px;
	margin-right:80px;
}
mark{
	background-color:white;
}









